Java/TimeTrackingClient/xml-resources/web-service-references/UserHandlerServiceService/wsdl/localhost_8080/TimeTrackingWebService/UserHandlerServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://time_tracking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://time_tracking/" name="UserHandlerServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://time_tracking/" schemaLocation="http://localhost:8080/TimeTrackingWebService/UserHandlerServiceService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="sendNewPassword">
<part name="parameters" element="tns:sendNewPassword"></part>
</message>
<message name="sendNewPasswordResponse">
<part name="parameters" element="tns:sendNewPasswordResponse"></part>
</message>
<message name="DBException">
<part name="fault" element="tns:DBException"></part>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"></part>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"></part>
</message>
<message name="changeUser">
<part name="parameters" element="tns:changeUser"></part>
</message>
<message name="changeUserResponse">
<part name="parameters" element="tns:changeUserResponse"></part>
</message>
<portType name="UserHandlerService">
<operation name="sendNewPassword">
<input message="tns:sendNewPassword"></input>
<output message="tns:sendNewPasswordResponse"></output>
<fault message="tns:DBException" name="DBException"></fault>
</operation>
<operation name="loginUser">
<input message="tns:loginUser"></input>
<output message="tns:loginUserResponse"></output>
<fault message="tns:DBException" name="DBException"></fault>
</operation>
<operation name="changeUser">
<input message="tns:changeUser"></input>
<output message="tns:changeUserResponse"></output>
<fault message="tns:DBException" name="DBException"></fault>
</operation>
</portType>
<binding name="UserHandlerServicePortBinding" type="tns:UserHandlerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="sendNewPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DBException">
<soap:fault name="DBException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DBException">
<soap:fault name="DBException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="changeUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DBException">
<soap:fault name="DBException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="UserHandlerServiceService">
<port name="UserHandlerServicePort" binding="tns:UserHandlerServicePortBinding">
<soap:address location="http://localhost:8080/TimeTrackingWebService/UserHandlerServiceService"></soap:address>
</port>
</service>
</definitions>