Java/TimeTrackingClient/xml-resources/web-service-references/BookingHandlerServiceService/wsdl/localhost_8080/TimeTrackingWebService/BookingHandlerServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://time_tracking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://time_tracking/" name="BookingHandlerServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://time_tracking/" schemaLocation="http://localhost:8080/TimeTrackingWebService/BookingHandlerServiceService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getBookings">
<part name="parameters" element="tns:getBookings"></part>
</message>
<message name="getBookingsResponse">
<part name="parameters" element="tns:getBookingsResponse"></part>
</message>
<message name="DBException">
<part name="fault" element="tns:DBException"></part>
</message>
<message name="nextBookingIsCome">
<part name="parameters" element="tns:nextBookingIsCome"></part>
</message>
<message name="nextBookingIsComeResponse">
<part name="parameters" element="tns:nextBookingIsComeResponse"></part>
</message>
<message name="makeComeBooking">
<part name="parameters" element="tns:makeComeBooking"></part>
</message>
<message name="makeComeBookingResponse">
<part name="parameters" element="tns:makeComeBookingResponse"></part>
</message>
<message name="nextBookingIsGo">
<part name="parameters" element="tns:nextBookingIsGo"></part>
</message>
<message name="nextBookingIsGoResponse">
<part name="parameters" element="tns:nextBookingIsGoResponse"></part>
</message>
<message name="makeGoBooking">
<part name="parameters" element="tns:makeGoBooking"></part>
</message>
<message name="makeGoBookingResponse">
<part name="parameters" element="tns:makeGoBookingResponse"></part>
</message>
<portType name="BookingHandlerService">
<operation name="getBookings">
<input message="tns:getBookings"></input>
<output message="tns:getBookingsResponse"></output>
<fault message="tns:DBException" name="DBException"></fault>
</operation>
<operation name="nextBookingIsCome">
<input message="tns:nextBookingIsCome"></input>
<output message="tns:nextBookingIsComeResponse"></output>
<fault message="tns:DBException" name="DBException"></fault>
</operation>
<operation name="makeComeBooking">
<input message="tns:makeComeBooking"></input>
<output message="tns:makeComeBookingResponse"></output>
<fault message="tns:DBException" name="DBException"></fault>
</operation>
<operation name="nextBookingIsGo">
<input message="tns:nextBookingIsGo"></input>
<output message="tns:nextBookingIsGoResponse"></output>
<fault message="tns:DBException" name="DBException"></fault>
</operation>
<operation name="makeGoBooking">
<input message="tns:makeGoBooking"></input>
<output message="tns:makeGoBookingResponse"></output>
<fault message="tns:DBException" name="DBException"></fault>
</operation>
</portType>
<binding name="BookingHandlerServicePortBinding" type="tns:BookingHandlerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getBookings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DBException">
<soap:fault name="DBException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="nextBookingIsCome">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DBException">
<soap:fault name="DBException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="makeComeBooking">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DBException">
<soap:fault name="DBException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="nextBookingIsGo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DBException">
<soap:fault name="DBException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="makeGoBooking">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DBException">
<soap:fault name="DBException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BookingHandlerServiceService">
<port name="BookingHandlerServicePort" binding="tns:BookingHandlerServicePortBinding">
<soap:address location="http://localhost:8080/TimeTrackingWebService/BookingHandlerServiceService"></soap:address>
</port>
</service>
</definitions>